@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the OnSale Shop Store</h1>
   
        <img src="~/images/Dinos3D2.png" style="width:250px;height:250px"/>

</div>
